.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-section .form-container{
    max-width: 357px;
}

.login-section h1{
    margin: 1em 0em 1.5em;
}

.login-section .custom-form>* {
    grid-column: 1 /-1;
}

.register-prompt{
    text-align: center;
    font-size: 1.25rem;
}

.register-navlink{
    font-size: 1.2rem;
    color: aquamarine;
}
