.comments-div {
    background: #444444a4;
    width: 60%;
    max-height: 300px;
    display: flex;

    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    padding: 1em 2em;

    border: 1px solid slateblue;
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0);
    border-radius: 15px;
}

.comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5em;
    padding: .5em;
    overflow-y: scroll;
    scrollbar-width: none;
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 0.5em;
}

.comment-card {
    width: 100%;
    max-width: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    padding: 1em;
    gap:.2em;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.95rem;
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.248);
    background-color: #222222a5;
}

.comment-author {
    text-align: left;
    margin-left: 1em;
    font-size: .9rem;
}

.root-comment {
    padding: 2px 5px;
    text-align: left;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.248);
    padding: .2em 3em;
    font-size: .8rem;
}

.comment-date {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 8px;
}

.comment-content {
    border-left: 2px solid #00ffc8;
    border-bottom: 2px solid #00ffc8;
    border-right: 2px solid #00ffc8;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.248);
    font-size: .8rem;
    width: 100%;
    padding: 1em 1em;
    border-radius: 10px;
}

.comment-replies {
    margin-left: 1.5em;
    padding: .5em 1em;
    
    border-left: 2px solid #00ffc8;
    margin-top: 0.5em;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.248);
    border-radius: 10px;
}

.reply{
    padding: 2px 5px;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.248);
}

.comment-replies p {
    text-align: left;
    font-size: .7rem;
}
.reply-author {
    text-align: left;
    font-size: .8rem !important;
    text-decoration: underline;
}