@media (max-width: 768px) {
    .comments-div{
        width: 100%;
        padding: unset;
        
    }

    .comments-container{
        padding: 0em 0em 0em 0em;
        margin: unset;
    }

    .article-engagement-container{
        padding: 3em 1em 0em 1em;
        flex-direction: column-reverse;
    }

    .add-comment-btn{
        width: 100px;
        position: fixed; 
        top: 7px; 
        right: unset;
        align-self: center;
        margin: 0px 0px 0px 0px;
    }

    .comment{
        flex-direction: column;
    }

    .comment-header{
        width: 100%;

    }
    .user-meta{
        flex-direction: column;
    }
    .comment-content-text{
        padding: 5px 5px 5px 5px;
        width: 100%;
    }

    .comment-btns{
        justify-content: center;
        padding-right: 0px;
    }
}