.articles-section{
    width: 93%;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 2em 1em;
    margin-bottom: 5em;
    gap: 1em;
    box-shadow: 0px 0px 20px 5px rgba(0, 7, 0, 0.505);
    border-radius: 10px;
    
    background-color: rgba(255, 255, 255, 0.048);
    transition: .8s;
}

.articles-section:hover{
    width: 95%;
}

.articles-section h2{
    text-align: center;
}

.articles-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 3em 0;
    gap: 5em;
    
    margin-bottom: 1em;
}

.article-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform:capitalize;
    padding: 2.5em .5em 2em;
    gap: 1em;

    background-color: rgba(3, 63, 3, 0.118);
    border: 1px solid rgba(255, 255, 255, 0.359);
    box-shadow: 0px 0px 15px 1px rgb(0, 0, 0);
    border-radius: 10px;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    transition: .8s;
}

.article-card:hover{
    background-color: rgba(3, 42, 3, 0.289);
    border: 1px solid snow;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    transform:scale(1.02)
}

.article-card p{
    transition: 1s;
}

.article-content{
    max-width: 85%;
    background: rgba(0, 0, 0, 0.282);
    font-weight: 600;
    padding: 1.4em;
    padding-bottom: 3em;
    border-radius: 15px;
    transition: .8s;

    overflow: hidden;
    white-space: pre-wrap;
    line-height: 1.6;
    max-height: 500px;
    position: relative;   
}

.article-content.expanded {
    max-height: none;
    overflow: visible;
}

.read-more-btn {
    background-color: none;
    border: none;
    color: #00ff66;
    border-radius: 6px;
    padding: 0.4em 2em;
    margin-top: 0em;
    cursor: pointer;
    font-weight: 600;
    font-size: .85rem;
    transition: background-color 0.3s ease;

    transform: translateY(-50px);
}

.read-more-btn:hover {
    border:none;
    background-color: #00ff66;
    color: black; 
}

.article-card:hover .article-content{
    background:rgba(0, 0, 0, 0.682);
    font-weight: 600;
}

.tags-container{

}

.tags-div{
    border: 1px solid darkgreen;
    display: flex;
    
    padding: .5em;
    gap: .3em;
    border-radius: 20px;
}

.article-tag{
    width: auto;
    padding: 0.3em 0.8em;
    border: 1px solid black;
    border-radius: 12px;
    white-space: nowrap;
    max-width: 100%;
    background-color: #22222273;
    color: #eee;
    font-size: 0.9rem;
}

.card-btns{
    width: 400px;

    display: flex;
    justify-content: space-between;
}

button:hover{
    background:rgb(64, 64, 106);
}