.notfound-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    color: #b2f5ea;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 255, 102, 0.2);
    backdrop-filter: blur(6px);
}

.notfound-title {
    top:0;
    font-size: 7rem;
    color: #00ff66;
    text-shadow: 0 0 15px rgba(0, 255, 102, 0.4);
    margin-bottom: 0.5em;
}

.notfound-message {
    margin-top: 2em;
    font-size: 1.8rem;
    margin-bottom: 1em;
    color: #ccc;
}

.notfound-link {
    font-size: 1rem;
    padding: 0.6em 1.2em;
    border: 1px solid #00ff66;
    background: rgba(0, 255, 102, 0.1);
    border-radius: 8px;
    text-decoration: none;
    color: #00ff66;
    transition: 0.3s ease;
}

.notfound-link:hover {
    background: #00ff66;
    color: black;
    box-shadow: 0 0 10px rgba(0, 255, 102, 0.4);
}