# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

bg1.jpg
bg2.jpg
bg4.jpg
bg5.jpg
bg6.jpg
bg7.jpg
bg8.jpg
bg9.jpg
bg11.jpg
bg12.jpg
bg13.jpg
bg14.jpg
bg15.jpg
bg16.jpg
bg17.jpg
bg18.jpg
bg19.jpg

articleHandlers.js