.register-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-section .form-container{
    max-width: 557px;
}

.register-section h1{
    margin: 1em 0em 1.5em;
}
.register-section form{
    grid-template-columns: 1fr 1fr;
}
.register-section .input-field{
    grid-template-columns: 1fr;
}
.submit-btn{
    width: 100%;
    align-self: center;
    grid-column: 1/3
}