.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 3em 0em 5em;
}

.profile-title-bar {
    width: 70%;
    background: rgba(0, 0, 0, 0.4);
    padding: 0px 0px 1em 0px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 102, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-title-bar .mirrored {
    width: 80%;
    background: black;
    padding: 0;
    margin: .6em 0em .5em;
}

.profile-nav-buttons {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 25;
}

.profile-nav-buttons button {
    min-width: 115px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #00ff66;
    color: white;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.4em;
    transition: 0.3s;
}

.profile-nav-buttons button:hover {
    background: #00ff66;
    border: 1px solid aqua;
    color: black;
}

.profile-section {
    width: 70%;
    background: rgba(0, 255, 242, 0.1);
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .1em 0em 1.5em;
    margin-top: 1.5em;
}

.profile-card-motion {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-card {
    width: 90%;
    background: #00a2ff1c;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3em 2em;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    text-align: center;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    position: relative;
}

.profile-card:hover {
    background: #00a2ff2f;
}

.profile-card:hover .profile-info-container,
.profile-card:hover .profile-details-container {
    background: rgba(0, 0, 0, 0.381);
}

.profile-avatar-wrapper {
    width: 225px;
    height: 150px;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 1em;
    border: 2px solid #00ff66;
    box-shadow: 0 0 10px rgba(0, 255, 102, 0.3);
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info-container,
.profile-details-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    background: rgba(0, 0, 0, 0.223);
    padding: 1.5em 1.5em;
    border-radius: 10px;
    margin-bottom: 1em;
    text-align: left;
}

.profile-info-container:hover,
.profile-details-container:hover {
    background: #0000004d;
}

.profile-info-container h3,
.profile-details-container h3 {
    margin-bottom: 0.5em;
    color: #00ff66;
    font-size: 1.5rem;
}

.profile-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

}

.account-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bio-field {
    margin-top: 1em;
    padding: 1em !important;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.bio-field strong {
    width: 100% !important;
    text-align: center;
    border-bottom: 2px solid rgb(43, 255, 0);
}

.bio-field p {
    width: 100%;
    text-align: center !important;
}

.info-field {
    display: flex;

    border-right: 2px solid rgba(0, 255, 242, 0.637);
    border-bottom: 1px solid rgba(0, 255, 255, 0.623);
    padding: .2em 1em .2em .5em;
    box-shadow: -5px -3px 5px 0px rgba(0, 255, 234, 0.455);
    border-radius: 5px;
}

.profile-info-container p,
.profile-details-container p {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: left;
    align-self: center !important;
    justify-self: center !important;
}

.profile-card strong {
    width: 40%;
    color: #04ec3e;
    font-size: 1.2rem;
}

.profile-card-btns {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-card-btns button {
    background: rgba(22, 59, 18, 0.459);
    color: #00fff2;
    border: 1px solid rgba(0, 255, 102, 0.4);
    padding: 0.6em 1.2em;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: all 0.3s ease;
    cursor: pointer;
}

.profile-card-btns button:hover {
    background-color: #00fff2;
    color: rgb(0, 58, 0);
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 255, 102, 0.4);
    border: 1px solid rgb(0, 58, 0);
}

.profile-timestamps {
    margin-top: 1em;
    color: #ccc;
}

.profile-timestamps p {
    font-size: 1.2rem;
}

.badges-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: .5em;

}

.role-badge {
    width: fit-content;
    padding: 0.4em 1em;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #00ff66;
    margin-top: 0.5em;
    cursor: pointer;
}

.role-badge:hover {
    background: aqua;
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
    cursor: pointer;
}

.badges-container p {
    width: unset;
    color: greenyellow;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

.profile-card .form-container{
    min-width: 75% !important;
    max-width: 75% !important;
}

.edit-profile-form{
    width: 100%;
}
.edit-profile-form .custom-form{
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.close-btn{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    
}
.close-btn:hover{
    color: aqua;
    border: 1px solid aqua;
}