header{
    background-image: url('/bg3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    width: 100%;
    max-width: 100%;
    position: fixed;
    height:65px;
    top: 0;
    bottom: 0;
    z-index: 1000;

    border-bottom: 2px solid green;
    box-shadow: 0px 0px 25px 1px rgba(0, 255, 38, 0.325);
}

header::before {
    content: '';
    position: fixed;
    max-height: 65px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.837);
    z-index: -1; 
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar{
    position:relative;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 65px;
    gap: 1em;
    max-width: 100%;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .3em;
    padding: 5px;
    min-width: 150px;
    list-style-type: none;
    border-radius: 12px;
    border-left: 1px solid rgb(0, 255, 208);
    border-right: 1px solid rgb(0, 148, 15);
}
.navbar li{
    padding: 2px;
    transition: .3s;
}

.navbar a {
    font-size: 1.25rem;
    padding: 4px 12px;
    color: #eaffea;
    border-radius: 12px;
    text-shadow: 0 0 3px #00ff88;
}
.navbar a:hover {
    color: #00ff88;
    background: rgba(0, 255, 136, 0.15);
}

.navbar button {
    font-size: 1.25rem;
    padding: 0;
    background: transparent;
}
.navbar button:hover{
    color: black;
    background:snow;
    padding: 2px;
}

.logo{
    width: 165px;
    text-align: center;
    border-radius: 15px;
    padding:0px 0px;
    letter-spacing: 1.2px;
}

.logo a{
    font-size: 2.75rem;
    padding: 0 10px;
    color: #e7fce4;
}
.logo a:hover{
    background:#00ddff3e;
    padding: 0 10px;
}

.site-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav ul{
   
}

.user-nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.user-nav ul{
    
}