header{
    background: black;
    width: 100%;
    max-width: 100%;
    position: fixed;
    height:65px;
    top: 0;
    bottom: 0;
}

.navbar{
    position:relative;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 65px;
    gap: 1em;
    max-width: 100%;

    border:1px solid blue;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    width:100px;
    text-align: center;
    border: 2px inset green;
    padding:5px;

}
ul{
    display: flex;
    justify-content: space-between;
    min-width:150px;
    max-width: 300px;
    padding: 5px;
    
    list-style-type: none;
    border: 1px solid orange;
}

.site-nav{
    display: flex;
}

.user-nav{
    display: flex;
}