* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: .75rem;
  text-decoration: none;
  scroll-behavior: smooth;
  scrollbar-color: #00ffc8 transparent;
}

.mirror-wrapper {
  width: 100%;
  margin: 5em 0;
  text-align: center;
  position: relative;
  overflow: visible;
  overflow: hidden;
  padding:0 0 0 0;
}

.mirrored {
  overflow: visible;
  position: relative;
  display: inline-block;
  color: #00ff66;
  font-size: 4rem;
  font-weight: 700;
  transform:scaleY(1.15) scaleX(1.1);
  padding: 0 0 1px;
  
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 8px;
  text-shadow: 0 0 4px rgba(0, 255, 102, 0.3);
}
.mirror-wrapper h1{
  font-size: 4.5rem;
  margin: 0 0 !important;
  padding: .3em 0em;
}

.mirrored::after {
  position: absolute;
  color: #00fffb;
  top: 100%;
  width:100%;
  left: 10px;
  content: attr(data-text);
  display: block;
  transform: scaleY(-1);
  opacity: 0.4;
  filter: blur(2px);
  margin-top: -.8em;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 242, 255, 0.8)transparent);
  animation: mirrorFade 3s ease-in-out infinite;
}
@keyframes mirrorFade {
  0% {
    opacity: 0.2;
    transform: scaleY(-1) translateY(0px);
    filter: blur(2px);
  }

  50% {
    opacity: 0.4;
    transform: scaleY(-1) translateY(2px) translateX(3px);
    filter: blur(1.5px);
  }

  100% {
    opacity: 0.2;
    transform: scaleY(-1) translateY(0px);
    filter: blur(2px);
  }
}

h1{
  width:100%;
  color: #00ff66;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-shadow: 0 0 4px rgba(0, 255, 102, 0.3);
  padding: 1em 1.5em 1.5em;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 8px;
  margin: 1em 0;
}

h2 {
  width: 100%;
  color: #b2f5ea;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1.2rem 0;
  padding: 1rem 1.5rem;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 8px;
  border-bottom: 2px solid #00ff66;
  text-shadow: 0 0 4px rgba(0, 255, 102, 0.3);
  text-decoration: none;
}
h3{
  color: #b2f5ea;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.3px;

  padding: .1em;
  margin: 0 0 1rem;
  border-bottom: 2px solid #00ff66;
  text-shadow: 0 0 4px rgba(0, 255, 102, 0.3);
}
h4{
  font-size: 0.95rem;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 0.5rem;
    text-shadow: none;
    font-style: italic;
}

.toast-wrapper{
  position:fixed;
  top: 65px;
  right: 0px;
  z-index: 1003;
}

.toast-container{
  position: relative;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6, p{
  overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
}