@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: calc(100vh - 65px);
  z-index: -1;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: calc(100vh - 65px);
  max-width: 100%;
  margin-top: 65px;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

button {
  background-color: #003300b7;
    padding: .2em 0em 0em;
    color: #00ff15;
    font-size: 0.85rem;
    font-weight: 500;
    border: 1px solid #00ff66;
    box-shadow: 0 0 4px rgba(0, 255, 102, 0.15);
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}
button:hover {
  background: linear-gradient(to right, #003300d2, #00662294);
  color: white;
  border:1px solid #05ff58;
  transform: scale(1.05);
  user-select: none;
}
button:disabled {
  cursor:not-allowed;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  background: rgba(0, 255, 136, 0.25);
    color: #222;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    padding: 8px 12px;
    border: 2px solid #00ff88;
    outline: none;
    box-shadow: 0 0 5px 3px rgba(0, 255, 136, 0.2);
    transition: all 0.3s ease;
}
input:focus {
  background: rgba(0, 255, 136, 0.35);
  box-shadow: 0 0 8px 2px rgba(0, 255, 213, 0.6);
}

select,
option {
  width: 50%;
  background: rgba(4, 148, 153, 0.384);
  color: snow;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  padding: 8px 12px;
  border: 2px solid #00ff88;
  outline: none;
  box-shadow: 0 0 5px 3px rgba(0, 255, 136, 0.4);
  transition: all 0.3s ease;
}

select:focus,
option:focus {
  background: rgba(0, 255, 136, 0.45);
  box-shadow: 0 0 8px 4px rgba(0, 255, 136, 0.6);
}

option {
  background: rgba(0, 0, 0, 0.9);
  color: #eaffea;
}

option:hover {
  background: rgba(0, 255, 136, 0.6);
  color: #222;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

/* Desktop */
@media (min-width: 769px) {
  .bgImage {
    background-image: url('/bg3.jpg');
    background-attachment: fixed;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .bgImage {
    background-image: url('/bg3.jpg');
    background-attachment: scroll;
    background-position: bottom bottom;
  }

    input,
    textarea,
    select {
      font-size: 16px !important; 
    }

}