.form-container {
    min-width: 25%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 3em 4em;
    gap: 2em;
    margin-bottom: 3em;
    box-shadow: 0px 0px 5px 1px rgb(15, 15, 15);
    background-color: rgba(3, 230, 255, 0.15);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    transition: .3s;
}

.form-container h3{
    font-size: 1.75rem;
}

.form-container:hover,
.form-container:focus-within {
    background-color: rgba(3, 230, 255, 0.2);
}
.form-container:hover .input-field, 
.form-container:focus-within .input-field{
    background: transparent !important;
    /* background: rgba(95, 21, 91, 0.205) !important; */
    /* border: 1px solid rgba(255, 255, 255, 0.15); */
}

.custom-form {
    width: 100%;
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr;
    gap: 1em;
    border-radius: 10px;
   /*  background-color: #00f7ff0f; */
}

.form-container:hover .custom-form, .form-container:focus-within .custom-form{
    /*   background: linear-gradient(135deg,
    #00f7ff4f,
                #00f7ff37); */
}

.input-field {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 1em;
    align-items: center;
    padding: .5em 1.5em;
    border-radius: 10px;
    position:relative;
}

.input-field label {
    width: unset;
    position:absolute;
    top: -5px;
    left: 12px;
    padding: 0px 10px;
    border-radius: 15px;
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(0, 255, 242);
    font-style: italic;
    text-underline-offset: 2px;

    text-decoration-color: rgba(1, 255, 251, 0.659);

    background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0,0,0, 0) 0%,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0) 50%);

}

.input-field input {
    color: rgb(209, 225, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 12px 5px;
    border-radius: 2px;
    text-align: left !important;
    
    background: linear-gradient(to bottom,
                rgba(3, 230, 255, 0.2) 0%,
                rgba(3, 230, 255, 0.2) 20%,
                rgba(0, 0, 0, 0.626) 20%,
                rgba(0, 0, 0, 0.626) 100%);
    border: 1px solid black;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.241);
}

.input-field input::placeholder {
    color: turquoise;
    font-style: italic;
    font-size: 1rem;
}

.input-error-msg {
    max-width: 100% !important;
    text-align: center !important;
    color: rgb(255, 196, 0);
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin: 6px 0px 0px 0px !important;
    padding: 2px 15px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(255, 52, 2);
    background: rgba(0, 0, 0, 0.442);
}

.submit-btn:disabled {
    color: grey;
}

.submit-btn {
    margin-top: 1em;
    width: 50% !important;
    justify-self: center;
    cursor: pointer;
    color: greenyellow;
}

.article-tag.selected {
    background-color: #00ff66;
    color: black;
    transform: scale(1.05);
    cursor: pointer; 
}

.form-textarea {
    width: 100%;
    min-height: 150px;
    background: rgba(0, 0, 0, 0.626);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    resize: vertical;
    white-space: pre-wrap;
    font-family: 'Chonburi';
}
#bio{
    padding-top: 15px;
}

.input-field #content{
    grid-column: 1/3;
}

.form-textarea::placeholder {
    color: turquoise;
    font-style: italic;
    font-size: .9rem;
    text-align: center;
}

input,
textarea,
select {
    max-width: 100%;
    box-sizing: border-box;
}
.select-input, .form-container:hover .select-input,
.form-container:focus-within .select-input{
    width: 70%;
    max-width: 300px;
    justify-self: center;
    background: rgb(0, 0, 0, 0.2) !important;
    padding: 10px;
}
.select-input label{
    position: unset;
    margin-bottom: 5px;
    padding: 0px 25px;
    align-self: center;
    background: transparent;
}

@media (max-width: 888px) {
    
    .form-container{
        padding: 2em 0em !important;
        max-width:85%;
    }

    .login-section .form-container, .register-section .form-container{
        min-width: 85% !important;
        max-width: 85% !important;
    }

    .profile-container .custom-form{
        min-width: 100%;
    }

    .custom-form,
    .register-section .custom-form, .login-section .custom-form {
        width: 100%;
        padding: 0em !important;
        grid-template-columns: 1fr !important;
    }

    .submit-btn {
        grid-column: 1 / -1;
        width: 75%;
    }

    .register-section form {
        grid-template-columns: 1fr;
    }

    .input-field {

    }
    .input-field input{

    }
    .select-input select{ 
        width: 80%;
    }

    .form-container {
        padding: 2em 1.5em;
    }

    .form-textarea {
        min-height: 120px;
        font-size: 0.95rem;
    }

    .span-full, .select-input, .input-field, .submit-btn{
        grid-column: 1/-1 !important;
    }
}