.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 3em 4em;
    gap: 2em;
    margin-bottom: 3em;
    box-shadow: 0px 0px 5px 1px rgb(15, 15, 15);
    background-color: rgba(3, 230, 255, 0.15);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    transition: .3s;
}

.form-container:hover,
.form-container:focus-within {
    background-color: rgba(3, 230, 255, 0.2);
}
.form-container:hover .input-field, 
.form-container:focus-within .input-field{
    background-color: transparent !important;
    background: rgba(95, 21, 91, 0.205) !important;
}

.custom-form {
    width: 100%;
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr;
    gap: 1em;
    border-radius: 10px;
   /*  background-color: #00f7ff0f; */
}

.form-container:hover .custom-form, .form-container:focus-within .custom-form{
    /*   background: linear-gradient(135deg,
    #00f7ff4f,
                #00f7ff37); */
}

.input-field {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 1em;
    align-items: center;
    padding: .5em 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    
}

.input-field label {
    width: unset;
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: .9px;
    text-align: center;
    color: rgb(0, 247, 255);
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgba(1, 255, 251, 0.659);

}

.input-field input {
    color: rgb(255, 255, 255);
    font-size: .9rem;
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.626);
    border: none;
}

.input-field input::placeholder {
    color: turquoise;
    font-style: italic;
    font-size: .9rem;
    text-align: center;
}

.input-error-msg {
    width: 100%;
    text-align: center !important;
    color: orange;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;
    margin: 2px;
    padding: 2px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.442);
}

.submit-btn:disabled {
    color: grey;
}

.submit-btn {
    margin-top: 1em;
    width: 50% !important;
    justify-self: center;
    cursor: pointer;
    color: greenyellow;
}

.article-tag.selected {
    background-color: #00ff66;
    color: black;
    transform: scale(1.05);
    cursor: pointer; 
}

.form-textarea {
    width: 100%;
    min-height: 150px;
    
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgba(95, 160, 127, 0.404);
    border: none;
    resize: vertical;
    white-space: pre-wrap;
    font-family: Georgia, 'Times New Roman', serif;
}

.input-field #content{
    grid-column: 1/3;
}

.form-textarea::placeholder {
    color: turquoise;
    font-style: italic;
    font-size: .9rem;
    text-align: center;
}