

.about-section{
    min-height: calc(100vh - 70px);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.about-section h1{
    margin: .5em 0 .5em;
}

.about-p{
    text-align: center;
    width: 65%;
    padding: 2em 5em;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.732);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    transition: 1s;
}

.about-p:hover{
    background: rgba(0, 0, 0, 0.815);
    border: 1px solid snow;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.dedication{
    text-align: center;
    width: 50%;
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    background: rgba(0, 255, 157, 0.87);
    color: black;
    padding: .2em .8em;
    border-radius: 15px;
}